
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-16-hrj {
  background-color: #008080;
  box-sizing: border-box;
  padding-right: 20.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .frame-6-qCF {
    height: 98.2rem;
    align-items: center;
    background-color: #ffffff;
    margin-right: 9.6rem;
    width: 87.5rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 11.2rem 20.1rem 11.2rem;

    .frame-11-WpB {
      margin: 0rem 0rem 12.85rem 35.5rem;
      height: 2.45rem;
      display: flex;
      column-gap: 1.6rem;
      align-items: center;
      flex-shrink: 0;

      .frame-16-EVH {
        margin: 0.025rem 0;
        box-sizing: border-box;
        padding-right: 0.6rem;
        height: calc(100% - 0.05rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .englishusa-NLb {
          line-height: 1.5;
          color: #4a4a4a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .icon-park-solid-down-one-6Gb {
          margin-top: 0.1rem;
          width: 1.2rem;
          height: 0.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .vector-1-piP {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 0;
        height: 2.45rem;
      }
      .frame-17-Xsh {
        margin: 0.025rem 0;
        box-sizing: border-box;
        padding-right: 0.5203rem;
        height: calc(100% - 0.05rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .read-aloud-FHu {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #808000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.95rem;
        }
        .fluent-speaker-1-32-filled-nYj {
          margin-top: 0rem;
          width: 1.7297rem;
          height: 1.8106rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .frame-20-WzX {
      margin: 0rem 19.6rem 4rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .log-in-account-j6b {
        color: #2a2a2a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2222222222;
      }
      .great-to-see-you-back-lets-resume-your-journey-to-continue-your-learning-experience-simply-fill-in-the-details-below-dxf {
        flex-shrink: 0;
        max-width: 45.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #4a4a4a;
        font-family: Aeonik, 'Source Sans Pro';
      }
    }
    .frame-15-sc7 {
      margin-bottom: 4rem;
      width: 100%;
      row-gap: 3.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-13-pGT {
        box-sizing: border-box;
        padding: 1.6rem 22.2rem 1.6rem 22.4rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #008080;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .flat-color-icons-google-x7m {
          margin-right: 1rem;
          width: 2rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .continue-with-google-VNb {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .or-bgX {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #4a4a4a;
        font-family: Aeonik, 'Source Sans Pro';
      }
      .frame-14-x1H {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .frame-3-fgP {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 4rem;
          width: 100%;
          align-items: center;
          display: flex;

          .frame-2-RQf {
            font-weight: 500;
            line-height: 1.5;
            color: #7a7a7a;
            font-family: Aeonik, 'Source Sans Pro';
            border: solid 0.1rem #cccccc;
            padding: 1.6rem;
            width: 100%;
            font-size: 1.6rem;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            white-space: nowrap;
          }
          .frame-3-7oH {
            padding: 1.6rem;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: Aeonik, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #cccccc;
            box-sizing: border-box;
            line-height: 1.5;
            color: #7a7a7a;
            flex-shrink: 0;
          }
        }
        .frame-5-DrK {
          width: 100%;
          white-space: nowrap;
          align-items: center;
          background-color: #eaeaea;
          flex-shrink: 0;
          height: 5.6rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: #1a1a1a;
          border-radius: 1.2rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          justify-content: center;
        }
      }
    }
    .frame-6-svs {
      margin: 0 15.2rem;
      width: calc(100% - 30.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .you-do-not-have-an-account-1GP {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #4a4a4a;
        font-family: Aeonik, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.6rem;
      }
      .create-one-here-Gi7 {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #008080;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .frame-7-j5u {
    width: 33.8rem;
    flex-shrink: 0;

    .frame-11-UJP {
      display: flex;
      flex-direction: column;
      margin-bottom: 62.2rem;
      width: 100%;

      .allearn-D15 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.4;
        color: #ffffff;
      }
      .empower-minds-share-knowledge-bridge-disability-wSs {
        max-width: 33.8rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2222222222;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .a-e-learning-platform-for-all-e6P {
      font-family: Aeonik, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #ffffff;
    }
  }
}
