
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.account-created-2pK {
  align-items: center;
  background-color: #008080;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .frame-7-NNP {
    background-color: #005151;
    box-sizing: border-box;
    flex-direction: column;
    background-position: center;
    height: 98.2rem;
    background-repeat: no-repeat;
    align-items: center;
    padding: 8rem 11.2rem;
    row-gap: 10.25rem;
    display: flex;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:15fedc1abc30e314790b6992a8cb9e13b1478ee6');
    flex-shrink: 0;
    margin-bottom: 0.1rem;

    .frame-11-5Xh {
      margin-right: 5.2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .allearn-RrT {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.4;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .inclusive-learning-where-education-speaks-to-you-js9 {
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.2222222222;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 36.1rem;
      }
    }
    .pngwing-3-T2T {
      height: 41.3rem;
      position: relative;
      background-size: 79.935% 79.935%;
      background-position: 4.3978rem 4.5369rem;
      background-image: url('REPLACE_IMAGE:1fdce38a9f088aac265a3a2025487df91451de50');
      flex-shrink: 0;
      width: 41.3rem;
    }
    .a-e-learning-platform-for-all-9vs {
      flex-shrink: 0;
      margin-right: 16.9rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.4;
      color: #ffffff;
      font-family: Aeonik, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .frame-6-2jm {
    box-sizing: border-box;
    padding: 4.8rem 11.2rem 31.3rem 21.2rem;
    width: 87.5rem;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.1rem;
    height: 98.2rem;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;

    .frame-18-Kym {
      margin: 0rem 0rem 24.05rem 26.7rem;
      height: 2.45rem;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      flex-shrink: 0;

      .frame-11-FcX {
        height: calc(100% - 0.05rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.025rem 0;
        box-sizing: border-box;
        padding-right: 0.6rem;

        .englishusa-yoR {
          font-weight: 600;
          line-height: 1.5;
          color: #7a7a7a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 1.6rem;
        }
        .icon-park-solid-down-one-6t3 {
          height: 0.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 1.2rem;
        }
      }
      .vector-1-211 {
        height: 2.45rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 0;
      }
      .frame-17-N4s {
        flex-shrink: 0;
        margin: 0.025rem 0;
        box-sizing: border-box;
        padding-right: 0.5203rem;
        height: calc(100% - 0.05rem);
        display: flex;
        align-items: center;

        .read-aloud-JjD {
          line-height: 1.5;
          color: #808000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.95rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .fluent-speaker-1-32-filled-qj9 {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0rem;
          width: 1.7297rem;
          height: 1.8106rem;
          object-fit: contain;
        }
      }
    }
    .frame-43-mco {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 14.5rem 4rem 0rem;
      width: 40.6rem;
      align-items: center;

      .component-13-hmM {
        cursor: pointer;
        flex-shrink: 0;
        margin: 0rem 10.05rem 2.4rem 14.55rem;
        box-sizing: border-box;
        padding: 3.778rem 3.828rem 3.878rem 3.828rem;
        width: calc(100% - 24.6rem);

        .pngwing-1-p5H {
          vertical-align: top;
          width: 8.3439rem;
          height: 8.3439rem;
          object-fit: cover;
        }
      }
      .frame-19-ZHm {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .account-created-usR {
          font-weight: 600;
          line-height: 1.2222222222;
          color: #4a4a4a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.8rem 4.5rem;
          font-size: 3.6rem;
        }
        .congratulations-your-account-has-been-successfully-created-3Cw {
          line-height: 1.5;
          color: #4a4a4a;
          font-family: Aeonik, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
    .frame-30-YvP {
      box-sizing: border-box;
      background-color: #008080;
      flex-shrink: 0;
      margin: 0rem 18.9rem 0rem 8.9rem;
      padding: 1.6rem 2.695rem 1.6rem 2.4rem;
      width: calc(100% - 27.8rem);
      display: flex;
      align-items: center;
      border-radius: 1.2rem;

      .continue-to-profile-setup-G5h {
        flex-shrink: 0;
        margin-right: 1.0667rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ic-round-arrow-forward-zXV {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0rem;
        width: 1.0388rem;
        height: 1.0123rem;
      }
    }
  }
}
